.auth-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 238, 241);
  }
  
  .auth-card {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgb(216, 216, 216);
    overflow: hidden;
  }

  .auth-image-container {
    padding: 10% 0% 5% 0%;
    text-align: center;
  }
  
  .auth-image {
    width: 180px;
    margin: auto;
  }
  
  .auth-form-container {
    padding: 0rem 2rem 2rem 2rem;
    color: rgb(0, 0, 0);
    flex: 1;
  }
  
  .auth-title {
    margin-bottom: 2rem;
    font-size: 1.1rem;
    text-align: center;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .auth-input-group {
    margin-bottom: 1rem;
  }
  
  .auth-input-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .auth-input-group input {
    width: 25rem;
    padding: 0.5rem;
    border: 1px solid #9999a252;
    border-radius: 3px;
    background-color: rgb(250, 251, 252);
    color: rgb(0, 0, 0);
    outline: none;
  }
  
  .auth-button {
    width: 26.1rem;
    padding: 0.75rem;
    background-color: #f15a24;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .auth-button:hover {
    background-color: #d44510e5;
    transform: scale(1.01)
  }
  
  .auth-footer {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #000000;
  }
  
  .auth-switch {
    background: none;
    border: none;
    color: #f15a24;
    cursor: pointer;
    padding-left: 5px;
  }
  
  .auth-switch:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    .auth-image-container {
      display: block;
      flex: 1;
      position: relative;
    }
  
    .auth-form-container {
      flex: 1;
    }
  }
  
  
  /* UNAUTHORIZED.JSX */
  
  .development {
    color: #007bff;
  }
  
  .unauth-main{
    padding-top: 10vh;
  }
  
  
  